.col-sm{
    background-color: rgb(213, 166, 214);
    margin: 5px;
    height: 150px;
    padding: 0px;
    border: 1px solid #eee;
    padding: 15px;
    
    box-shadow:-2px -2px 2px 2px #2172ab;
    



}

.container-fluid{
    margin: 15px;
    background-color: #2172ab;
    height: auto;
    color: #fff;
    padding: 10px 20px;


}