.graphheader button{
    margin: 50px 15px;
    padding: 10px 20px;
    background: #349ce4;
    color: #fff;
    border: none;
    border-radius: 5px;
    line-height: normal;
    min-width: 145px;
    width:0px;
    
}

.graphheader button a{
    color: #fff;
}

.graphheader button:hover{
    opacity:.8 ;
}
.graphheader{
    padding-left: 1px;
    padding-bottom: 20px;
}